/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 23/06/2018, 09:39:23 AM
    Author     : Leidy Silvana
*/
/*--Pruebas*/
* {

    box-sizing: border-box;
}

#temporalmenu{
    margin-bottom: 12rem;
}

.menu {

    /*    position: fixed;*/
}

.menu li:hover {
    background-color: grey;

}

/***************************************/
.full {
    margin: 0;
    padding: 0;
}

:root {
    --colorinstitucional: #00a7ae;
}

.barrasuperior {

    margin: 0;
    background-color: var(--colorinstitucional);
    width: 100%;
    height: 2rem;
}


.perfiladmin {
    background-color: var(--colorinstitucional);
    text-align: center;
}


.admin {
    width: 5rem;
    overflow: hidden;
    border-radius: 50%;
}

.border-lado {
    border-right: 0.2rem solid #559E93;
    height: 6rem;
    vertical-align: middle;
    display: inline-block;
    padding-right: 2rem;
}

.headerPrincipal {

    border-bottom: 0.01rem solid #559E93;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.contenedor-funcionalidad {
    margin: auto;
    padding-bottom: 50px !important;
}

.logosena {
    width: 6rem;
}

.logoarchinet {
    width: 11rem;
    height: 7rem;
}

footer {
    background-color: var(--colorinstitucional);
}

.footer p {
    margin: 0;
}

footer {
    margin: auto;
}

@font-face {
    font-family: miriand;
    src: url(/tipografia/MyriadPro-Bold.otf);
}

.titulo-principal {
    font-family: miriand;
    font-weight: bold;
    font-size: 1.5rem;
    margin: auto;
}

.presentacion {
    width: 86%;
    height: 50%;
}

@media (min-width: 768px) {
    .navfixed {
        position: fixed;
        top: 0;
        width: 25%;
        /*z-index: 45;*/
        border-right: 0.05rem solid #97B1BD;
        height: 100vh;
        background-color: white;
    }
}

.mdlDetalles {
    color:white;
}

.imagen-menu {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    width: 2rem;
    height: 2rem;
}

.nav-item.active {
    background-color: hsl(0, 0%, 80%);
}

.container-config{
    display: inline-block;
}

.btn-config{
    cursor: pointer;
}


.blockUI.blockMsg.blockElement{
    text-align: center !important;
    position: absolute !important;
    height: 4rem !important;
    top: 0 !important;
    width: 100% !important;
    justify-content: center !important;
    display: flex !important;
    align-items: center !important;
    bottom: 0 !important;
    margin: auto !important;
    background-color: transparent !important;
    border: none !important;
}

.blockUI.blockMsg.blockPage{
    background-color: transparent !important;
    border: none !important;
}
.blockUI.blockMsg.blockPage h4.white-text.mensaje-load{

}
h4.white-text.mensaje-load{
    display: inline-block !important;
}
@font-face {
    font-family: miriand;
    src: url(/tipografia/MyriadPro-Bold.otf);
}

#img-folders{
    display: table;
    width: 90%;
    height: auto;
    *border-radius: 3rem;
   
    margin: auto;
}
table.table thead th {
    border-top: 2px #dee2e6 solid !important;
}
#vista{
    width: 50%;
    
}
.visualizar{
    padding-left: 0;
}
.botones{

    padding-top: 2rem;
    margin-left: auto;
}
.botones1{
    margin-top: 50px;
}

.dataTables_filter label input{
    line-height: 2 !important;
    width: 85% !important;
}