.conten_crear{
    width: 100%;
    text-align: right;
}

.btnCrearUsuario, .btnCustom{
   font-size: 0.8rem;
   padding: 0.8rem 1.20rem;
   display: inline-block;
   font-weight: bolder;
}
.botones {
    padding-left: 39rem;
}

.botones_derecha{
    text-align: right;
    width: 100%;
}
.informacion{
    overflow: auto;
    max-height: 12rem;
    padding-right: 1rem;
    text-align: justify;
}
.informacion::-webkit-scrollbar {
    background-color: #ffe8a1;
    border: 1px solid #ffe8a1;
}
.informacion::-webkit-scrollbar-thumb {
    background-color: #c2ab68;
    border-radius: 25%;
}
.md_import{
    padding-right:1rem;
}
